@using Pro.Extension
@using Pro.Common
@using Pro.Model
@model PagedList<Student>

<table id="tblList" class="table table-bordered table-hover bg-white table-list">
    <tr>
        <th class="th-checkbox">
            <label class="checkbox-inline" style=" font-weight: bold;">
                <input type="checkbox" name="chkAll" id="chkAll" onclick="checkAll(this)"> 全选
            </label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].s_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].s_loginName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].s_address)
        </th>
        <th class="th_sort" onclick="ChangeSort(this)">
            @Html.DisplayNameFor(model => model[0].s_sex)
            <i class="icon-sort sortSex" data-value="s_sex" data-sort="sort">&nbsp;</i>
        </th>
        <th class="th_sort" onclick="ChangeSort(this)">
            @Html.DisplayNameFor(model => model[0].s_age)
            <i class="icon-sort sortAge" data-value="s_age" data-sort="sort">&nbsp;</i>
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].s_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].s_remark)
        </th>
        <th class="th_sort" onclick="ChangeSort(this)">
            @Html.DisplayNameFor(model => model[0].s_createDate)
            <i class="icon-sort sortCreateDate" data-value="s_createDate" data-sort="sort">&nbsp;</i>
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model[0].s_GradeID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model[0].s_status)
        </th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr @(item.s_status == 1 ? Html.Raw("style='color:red'") : Html.Raw("style='color:green'"))>
            <td class="th-title">
                <label class="checkbox-inline">
                    <input name="s_id" value="@Html.DisplayFor(modelItem => item.s_id)" type="checkbox" />
                </label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_loginName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_address)
            </td>
            <td>
                @item.SexValue.GetDisplayName()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_remark)
            </td>
            <td>
                @item.s_createDate.ToString().ToDateTime()
            </td>
            @*<td>
                @item.GradeValue.GetDisplayName()
            </td>*@
            <td>
                <a onclick="UpdateSingleStatus('@item.s_id',@(item.s_status == 0 ? 1 : 0))" class='btn btn-@(item.s_status == 0 ? "danger" : "success") btn-xs' title='@(item.s_status == 0 ? "禁用" : "启用")' @(item.s_status == 0 ? "id='btnSingleEnable'" : "id=btnSingleDisable") data-toggle="tooltip">
                    <i class='@(item.s_status == 0 ? "icon-off" : "icon-ok")'></i>
                </a>
            </td>
            <td>
                <a onclick="OpenUpdate('@item.s_id')" data-toggle="tooltip" title="编辑" class="btn btn-info btn-xs"><i class="icon-edit"></i>  编辑</a>
                <a href="#DetailsModal" onclick="Details('@item.s_id')" data-toggle="modal" title="编辑" class="btn btn-success btn-xs"><i class="icon-eye-open"></i></a>
                <a onclick="ConfrimDelete('@item.s_id')" data-toggle="tooltip" class="btn btn-danger btn-xs" title="删除"><i class="icon-remove"></i>  删除</a>
            </td>
        </tr>}
</table>
@Html.PagerAjax(Model)