@model Pro.Model.Student
@{
    ViewBag.Title = "修改学生信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string id = Model.s_id.ToString();
}

@using (Html.BeginForm())
{
    <section class="panel">
        <div class="panel-body bg-white">
            <div class="panel-heading bg-white">
                <h3 class="panel-title panel-title-list"><i class="icon-th"></i>修改学生信息</h3>
            </div>
            <div class="form-horizontal tasi-form">
                <div class="col-md-12">
                    @Html.ValidationSummary(true)
                    <div class="widget-content" id="alertWin">
                        @Html.HiddenFor(model => model.s_id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.s_name, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.s_name, new { @class = "form-control", placeholder = "请输入" + Html.DisplayNameFor(model => model.s_name) })
                                @Html.ValidationMessageFor(model => model.s_name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.s_loginName, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.s_loginName, new { @class = "form-control", placeholder = "请输入" + Html.DisplayNameFor(model => model.s_loginName) })
                                @Html.ValidationMessageFor(model => model.s_loginName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.s_address, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.s_address, new { @class = "form-control", placeholder = "请输入" + Html.DisplayNameFor(model => model.s_address) })
                                @Html.ValidationMessageFor(model => model.s_address)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.s_sex, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.s_sex, ViewData["selectList"] as List<SelectListItem>, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.s_sex)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.s_age, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.s_age, new { @class = "form-control", placeholder = "请输入" + Html.DisplayNameFor(model => model.s_age) })
                                @Html.ValidationMessageFor(model => model.s_age)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.s_phone, new { @class = " control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.s_phone, new { @class = "form-control", placeholder = "请输入" + Html.DisplayNameFor(model => model.s_phone) })
                                @Html.ValidationMessageFor(model => model.s_phone)
                            </div>
                        </div>
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.s_Grade_ID, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.s_Grade_ID, ViewData["Grade"] as List<SelectListItem>, new { @class = "form-control", placeholder = "请输入" + Html.DisplayNameFor(model => model.s_GradeID) })
                                    @Html.ValidationMessageFor(model => model.s_Grade_ID)
                                </div>
                            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.s_remark, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.s_remark, new { @class = "form-control", placeholder = "请输入" + Html.DisplayNameFor(model => model.s_remark) })
                                @Html.ValidationMessageFor(model => model.s_remark)
                            </div>
                        </div>

                        <div class="form-group hidden">
                            @Html.LabelFor(model => model.s_passWord, new { @class = "pull-left control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.s_passWord, new { @class = "pull-right form-control", placeholder = "请输入" + Html.DisplayNameFor(model => model.s_remark) })
                                @Html.ValidationMessageFor(model => model.s_passWord)
                            </div>
                        </div>
                        <div class="form-group hidden">
                            @Html.LabelFor(model => model.s_status, new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.s_status, new { @class = "form-control", placeholder = "请输入" + Html.DisplayNameFor(model => model.s_remark) })
                                @Html.ValidationMessageFor(model => model.s_status)
                            </div>
                        </div>
                        <div class="form-group hidden">
                            @Html.LabelFor(model => model.s_createDate, new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.s_createDate, new { @class = "form-control", placeholder = "请输入" + Html.DisplayNameFor(model => model.s_remark) })
                                @Html.ValidationMessageFor(model => model.s_createDate)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#s_remark").css("resize", "none");           //限制不能拉伸
        });
        function submitForm() {
            hhl.ajax("/Student/UpdateStu");
        }
    </script>
}
